{
  "presets": [
    "module:metro-react-native-babel-preset",
    "@babel/typescript"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from"
  ]
}
