{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:react-native/all"
  ],
  "plugins": [
    "react",
    "react-native"
  ],
  "env": {
    "react-native/react-native": true
  },
  "globals": {
    "__DEV__": false,
    "require": false,
    "XMLHttpRequest": false,
    "FileReader": true,
    "fetch": false
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "arrow-parens": 2,
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "camelcase": 0,
    "consistent-return": 0,
    "comma-dangle": ["error", "always-multiline"],
    "eol-last": ["error", "always"],
    "no-console": [2, {"allow": ["info", "error"]}],
    "no-use-before-define": ["error", { "functions": true, "classes": true, "variables": false }],
    "no-nested-ternary": 0,
    "no-underscore-dangle": 0,
    "max-len": 0,
    "import/prefer-default-export": 0,
    "import/no-duplicates": "error",
    "import/order": ["error", {
      "groups": [
        "builtin",
        "external",
        "internal"
      ]
    }],
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2,
    "react-native/no-raw-text": 2,
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/no-unused-prop-types": 2,
    "react/prop-types": 2,
    "react/self-closing-comp": ["error", { "component": true, "html": true }],
    "prefer-destructuring": 0,
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "quotes": ["error", "single"]
  }
}
